<div class="row fill">
  <div class="col-lg-4">
    <%= simple_form_for :search,:remote => true, url: movies_path,:html =>{id: 'movie_search'}, :method => :get do |f| %>
        <div class="input-group">
            <%= f.text_field :title, placeholder: 'Seach',autocomplete:"off", class: 'form-control',id:'search',:value => (params[:search].nil?)?'':params[:search][:title] %>

          <span class="input-group-btn">
              <%= f.button :submit, 'Search', class: 'btn btn-default' %>
            </span>
        </div>
  </div>
  <div class="col-lg-8">
    <div class="pull-right">
      <%= link_to (raw("<button type=\"button\" class=\"btn btn-default\"><span class=\"glyphicon glyphicon-plus\"></span> " + t(:new) + "</button>")), new_movie_path %>
    </div>
  </div>
    <% end %>
</div>
<script>
  $(document).ready(function () {
    $('#search').change(function () {
      $('#movie_search').submit();
    });
  });
</script>