<div class="row fill">
  <div class="col-lg-4">
    <%= simple_form_for :search,:remote => true, url: movies_path, :method => :get do |f| %>
        <div class="input-group">
          <%= f.text_field :title, id:'search',placeholder: 'Search', class: 'form-control' %>
        </div>
        <input type="submit" value="Submit">
    <% end %>
  </div>
</div>